body {
  font-family: 'Shadows Into Light', cursive;
  margin: 0;
  background-image: radial-gradient(#242323, #404040);
  background-size: cover;
  color: #eee;
  display: grid;
  grid-template: 15vh 14vh 14vh 14vh 14vh (29vh / repeat(4, 25vw));
  grid-template-areas: ". up . side" "dex . tog side" "dex . . side" "dex sec . side" "dex sec sum side" "dex sec sum .";
  overflow: hidden;
}

.header {
  grid-area: up;
  display: grid;
  grid-template: 100% / 20% 60% 20%;
  font-size: 14px;
  text-align: center;

  #left-pic {
    width: 100%;
    padding-right: 5%;
  }

  #right-pic {
    width: 100%;
  }
}

main {
  display: grid;
  grid-template: 10% 90% / 85% 15%;
  grid-template-areas: ". btn" "player team";
  z-index: 2;
  grid-area: dex;
  background-color: grey;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  padding-right: 1.9277%;
  padding-top: 1.9277%;


  #team-btn{
    width: 80%;
    grid-area: btn;
  }
  .team-member {
    grid-area: player;
    overflow-y:hidden;
  }
  #trainer-pic{
    width: 75%;
    height: auto;
    padding-top:10%;
    padding-left: 8%;
  }
  #trainer-name{
    margin: 0;
    font-size: 2em;
    text-align: center;
  }

  #poke-btn {
    padding-top: 385%;
    font-size: 1.5em;
    grid-area: team;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: 0;
  }
}

@keyframes pullOut {
  0% {
    transform: translate(-100%);
  }

  100% {
    transform: translate(0);

  }
}

section {
  display: none;
  box-shadow: 5px 0px 10px inset red;
  margin-top: 8%;
  margin-bottom: 8%;
  padding-left: 10%;
  z-index: 1;
  animation: .5s ease-in pullOut;
  background-color: #909090;
  grid-area: sec;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  grid-template: 10% 30% 30% 30% /50% 50%;
  grid-template-areas: "adpk remopk" ". ." ". ." ". .";
  #add-pkmn {
    grid-area: adpk;
    width: 30%;
  }
  #remove-pkmn {
    grid-area: remopk;
    width:30%;
  }
  .poke-card{
    display:grid;
    grid-template: 30% 20% /50% 50%;
    grid-template-areas: "pho nam" 'pho hel';
    img {
      grid-area: pho;
      width: 100%;
    }
    h3{
      grid-area: nam;
      margin: 0;
    }
    p{
      grid-area: hel;
    }
  }
  }


summary {
  display: none;
  z-index: 0;
  margin-top: 58%;
  margin-bottom: 15%;
  animation: .5s ease-in pullOut;
  background-color: #959595;
  grid-area: sum;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}

.pkmn-search {
  background-color: grey;
  grid-area: side;
  float: right;
  padding: 40px;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

#pkmn-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  padding-inline-start: 0;
}

.collapse-container {
  grid-area: tog;
}

input[type="checkbox"] {
  display: none;
}

.lbl-toggle {
  display: block;
  padding: 1rem;
  cursor: pointer;
  border-radius: 7px;
  transition: 0.25s ease-out;
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: .25s ease;

  .content-inner {
    float: right;
    background: black;
    padding: 0 8%;
  }
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}
