body {
  margin: 0;
  background-image: radial-gradient(#242323, #404040);
  background-size: cover;
  color: #eee;
  display: grid;
  grid-template: 15vh 14vh 14vh 14vh 14vh (29vh / repeat(4, 25vw));
  grid-template-areas: ". up . side" "dex . . side" "dex . . side" "dex sec . side" "dex sec sum side" "dex sec sum side";
  overflow: hidden;
}

.header {
  grid-area: up;
  display: grid;
  grid-template: 100% / 20% 60% 20%;
  font-size: 14px;
  text-align: center;

  #left-pic {
    width: 100%;
    padding-right: 5%;
  }

  #right-pic {
    width: 100%;
  }
}

main {
  z-index: 2;
  grid-area: dex;
  background-color: grey;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  padding-right: 12%;

  button {
    float: right;
  }

  h1 {
    float: left;
    margin-top: 0;
  }

  #team-container {
    display: grid;
    margin-top: 20%;
    overflow-y: scroll;
    grid-template: repeat(auto, 20%) / 100%;
    grid-row-gap: 1%;
    justify-items: center;
  }

  span:hover {
    transform: scale(1.1);
  }

  h3 {
    float: left;
    margin: 0;
    padding-top: 4%;
    padding-left: 14%;
    font-size: 35px;
  }

  img {
    width: 18%;
    height: auto;
    float: right;
  }
}

@keyframes pullOut {
  0% {
    transform: translate(-100%);
  }

  100% {
    transform: translate(0);
    display: block;
  }
}

section {
  display: none;
  box-shadow: 5px 0px 10px inset red;
  margin-top: 8%;
  margin-bottom: 8%;
  padding-left: 10%;
  z-index: 1;
  animation: .5s ease-in pullOut;
  background-color: #909090;
  grid-area: sec;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;

  img {
    width: 50%;
    height: auto;
  }

  #move-list {
    cursor: pointer;
    padding-left: 5%;
    padding-top: 12%;
    display: grid;
    grid-template: repeat(2, 50%) / repeat(2, 50%);

    p:hover {
      transform: scale(1.2);
    }
  }
}

summary {
  z-index: 0;
  display: none;
  margin-top: 58%;
  margin-bottom: 15%;
  animation: .5s ease-in pullOut;
  background-color: #959595;
  grid-area: sum;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}

.pkmn-search {
  background-color: grey;
  grid-area: side;
  float: right;
  padding: 40px;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

#pkmn-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  padding-inline-start: 0;
}
