body {
  margin: 0;
  background-image: radial-gradient(#242323 ,#404040);
  background-size: cover;
  color: #eee;
  display: grid;
  grid-template: 15vh 42vh 12vh 30vh / repeat(4, 25vw);
  grid-template-areas: ". up . side" "dex . . side" "dex . . side" ". . . side";
  overflow: hidden;
}

.header {
  grid-area: up;
  display: grid;
  grid-template: 100% / 20% 60% 20%;
  font-size: 14px;
}

.header #left-pic {
  width: 100%;
  padding-right: 5%

}

.header #right-pic {
  width: 100%;
}

section {
  grid-area: dex;
  background-color: grey;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  padding-right: 5%
}

section h1 {
  margin-top: 0;
}
section #team-container{
  display: grid;
  grid-template: auto / 100% ;
  grid-row-gap: 4%;
  justify-items: center;
}

section h3 {
  float: left;
  margin: 0;
  padding-top: 4%;
  padding-left: 4%;
  font-size: 35px;
}

section img {
  width: 20%;
  height: auto;
  float: right;
}


aside {
  grid-area: side;
  float: right;
}

aside #pkmn-img {
  width: 30%;
  height: auto;
}
